@model Blogy
@{
    Layout = "_DashBoard";
}

<div class="dash-content">
    <div class="overview">
        <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Editing Blog</span>
        </div>

        <div>
            <form method="post" asp-action="EditBlog" class="row">
                <div class="mb-3">
                    <label asp-for="Title" for="" class="form-label">Blog Title</label>
                    <input type="text"
                           asp-for="Title"
                           class="form-control"
                           value="@Model.Title"
                           placeholder="" />
                    <span asp-validation-for="Title" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Description" for="" class="form-label">Blog Description</label>
                    <textarea type="text"
                              asp-for="Description"
                              class="form-control"
                              placeholder=""> @Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>

                </div>
                <div class="mb-3 col-lg-6">
                    <label asp-for="Author" for="" class="form-label">Product Author</label>
                    <input type="text"
                           asp-for="Author"
                           value="@Model.Author"
                           class="form-control"
                           placeholder="">                               <span asp-validation-for="Author" class="text-danger"></span>
                    </input>


                </div>
               
               

                <input asp-for="@Model.BlogId" type="hidden" value="@Model.BlogId" />
                <div class="col-lg-12 d-flex justify-content-center  ">

                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </form>

        </div>
    </div>
</div>

